PMS/Pamac-Online.com/CPV/KYC/Kyc_Output.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Kyc_Output" targetNamespace="http://tempuri.org/Kyc_Output.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/Kyc_Output.xsd" xmlns:mstns="http://tempuri.org/Kyc_Output.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="KYC_PAY_ZIPPY">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Legal_Name" type="xs:string" />
				<xs:element name="warehouseaddress" type="xs:string" />
				<xs:element name="Top1Item" type="xs:string" />
				<xs:element name="Top2Item" type="xs:string" />
				<xs:element name="Top3Item" type="xs:string" />
				<xs:element name="Top4Item" type="xs:string" />
				<xs:element name="Website" type="xs:string" />
				<xs:element name="RES_PHONE" type="xs:string" />
				<xs:element name="Business_Address" type="xs:string" />
				<xs:element name="CASE_REC_DATETIME" type="xs:string" />
				<xs:element name="MOBILE" type="xs:string" />
				<xs:element name="Email_ID" type="xs:string" />
				<xs:element name="proarea_Yes" type="xs:string" />
				<xs:element name="proarea_No" type="xs:string" />
				<xs:element name="childmar_Yes" type="xs:string" />
				<xs:element name="childmar_No" type="xs:string" />
				<xs:element name="childnei_Yes" type="xs:string" />
				<xs:element name="childnei_No" type="xs:string" />
				<xs:element name="childemp_Yes" type="xs:string" />
				<xs:element name="childemp_No" type="xs:string" />
				<xs:element name="rec_Yes" type="xs:string" />
				<xs:element name="rec_No" type="xs:string" />
				<xs:element name="setup_comspace" type="xs:string" />
				<xs:element name="childnei_RA" type="xs:string" />
				<xs:element name="childemp_Sh" type="xs:string" />
				<xs:element name="boardtype_per" type="xs:string" />
				<xs:element name="boardtype_tem" type="xs:string" />
				<xs:element name="conne_landno" type="xs:string" />
				<xs:element name="conne_fax" type="xs:string" />
				<xs:element name="conne_internet" type="xs:string" />
				<xs:element name="est_clear" type="xs:string" />
				<xs:element name="est_hidden" type="xs:string" />
				<xs:element name="est_no" type="xs:string" />
				<xs:element name="furnishing_per" type="xs:string" />
				<xs:element name="furnishing_tem" type="xs:string" />
				<xs:element name="PMQ_cleanhy" type="xs:string" />
				<xs:element name="PMQ_proli" type="xs:string" />
				<xs:element name="PMQ_stbu" type="xs:string" />
				<xs:element name="premise_residencey" type="xs:string" />
				<xs:element name="premise_office" type="xs:string" />
				<xs:element name="premise_warehouse" type="xs:string" />
				<xs:element name="prod_phygoods" type="xs:string" />
				<xs:element name="prod_services" type="xs:string" />
				<xs:element name="prod_digigoods" type="xs:string" />
				<xs:element name="prod_unsure" type="xs:string" />
				<xs:element name="visitNO_a" type="xs:string" />
				<xs:element name="visitNO_b" type="xs:string" />
				<xs:element name="visitNO_c" type="xs:string" />
				<xs:element name="visitNO_d" type="xs:string" />
				<xs:element name="visitNO_others" type="xs:string" />
				<xs:element name="logi_owned" type="xs:string" />
				<xs:element name="logi_3party" type="xs:string" />
				<xs:element name="logi_none" type="xs:string" />
				<xs:element name="logi_NA" type="xs:string" />
				<xs:element name="inven_yes" type="xs:string" />
				<xs:element name="inven_yesof" type="xs:string" />
				<xs:element name="inven_time" type="xs:string" />
				<xs:element name="inven_NA" type="xs:string" />
				<xs:element name="invensize_A" type="xs:string" />
				<xs:element name="invensize_b" type="xs:string" />
				<xs:element name="invensize_c" type="xs:string" />
				<xs:element name="invensize_d" type="xs:string" />
				<xs:element name="regiproof_CI" type="xs:string" />
				<xs:element name="regiproof_MOAO" type="xs:string" />
				<xs:element name="regiproof_RPD" type="xs:string" />
				<xs:element name="regiproof_RTD" type="xs:string" />
				<xs:element name="addproof_jwe" type="xs:string" />
				<xs:element name="addproof_health" type="xs:string" />
				<xs:element name="addproof_course" type="xs:string" />
				<xs:element name="addproof_advi" type="xs:string" />
				<xs:element name="addproof_transit" type="xs:string" />
				<xs:element name="addproof_food" type="xs:string" />
				<xs:element name="addproof_UGC" type="xs:string" />
				<xs:element name="addproof_quali" type="xs:string" />
				<xs:element name="fe_signimage" type="xs:base64Binary" />
				<xs:element name="centre_pamacseal" type="xs:base64Binary" />
				<xs:element name="YEARS_WORKEDmarchant" type="xs:string" />
				<xs:element name="YEARS_WORKEDnei" type="xs:string" />
				<xs:element name="YEARS_WORKEDemp" type="xs:string" />
				<xs:element name="Agentremark" type="xs:string" />
				<xs:element name="nameboard_Yes" type="xs:string" />
				<xs:element name="nameboard_No" type="xs:string" />
				<xs:element name="no_ofEmp1" type="xs:string" />
				<xs:element name="no_ofEmp2" type="xs:string" />
				<xs:element name="no_ofEmp3" type="xs:string" />
				<xs:element name="comp_sp" type="xs:string" />
				<xs:element name="comp_publicltd" type="xs:string" />
				<xs:element name="comp_partnership" type="xs:string" />
				<xs:element name="comp_huf" type="xs:string" />
				<xs:element name="comp_ngo" type="xs:string" />
				<xs:element name="comp_llp" type="xs:string" />
				<xs:element name="comp_pvt" type="xs:string" />
				<xs:element name="comp_other" type="xs:string" />
				<xs:element name="Supervisor_sign" type="xs:base64Binary" />
				<xs:element name="ID_Proof" type="xs:string" />
				<xs:element name="Address_proof" type="xs:string" />
				<xs:element name="weektimeduaration_from" type="xs:string" />
				<xs:element name="own_rented" type="xs:string" />
				<xs:element name="own_owned" type="xs:string" />
				<xs:element name="own_leased" type="xs:string" />
				<xs:element name="ref" type="xs:string" />
				<xs:element name="OFF_CITY" type="xs:string" />
				<xs:element name="OFF_PIN_CODE" type="xs:string" />
				<xs:element name="DEPARTMENT" type="xs:string" />
				<xs:element name="OFF_PHONE" type="xs:string" />
				<xs:element name="fire_Yes" type="xs:string" />
				<xs:element name="fire_No" type="xs:string" />
				<xs:element name="Verifiername" type="xs:string" />
				<xs:element name="position" type="xs:string" />
				<xs:element name="years1" type="xs:string" />
				<xs:element name="months1" type="xs:string" />
				<xs:element name="years2" type="xs:string" />
				<xs:element name="months2" type="xs:string" />
				<xs:element name="years3" type="xs:string" />
				<xs:element name="months3" type="xs:string" />
				<xs:element name="CASE_REC_DATETIME1" type="xs:string" />
			</xs:sequence>
			<xs:attribute name="weektimeduaration_to" type="xs:string" />
			<xs:attribute name="weektimeduaration_days" type="xs:string" />
			<xs:attribute name="contactperson" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="Main">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="case_id" type="xs:string" />
				<xs:element name="verification_type_id" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Kyc_ScbAC_Resi">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="case_id" type="xs:string" />
				<xs:element name="case_rec_datetime" type="xs:string" />
				<xs:element name="send_datetime" type="xs:string" />
				<xs:element name="first_name" type="xs:string" />
				<xs:element name="ResiAddress" type="xs:string" />
				<xs:element name="resi_pincode" type="xs:string" />
				<xs:element name="resi_tel_no" type="xs:string" />
				<xs:element name="resi_landmark" type="xs:string" />
				<xs:element name="full_name" type="xs:string" />
				<xs:element name="Permanent_Address" type="xs:string" />
				<xs:element name="Permanent_Pincode" type="xs:string" />
				<xs:element name="Permamnent_Tel_no" type="xs:string" />
				<xs:element name="Staying_since_Resi" type="xs:string" />
				<xs:element name="Business_Occupation_Details" type="xs:string" />
				<xs:element name="RV_COMMENT" type="xs:string" />
				<xs:element name="Person_Contacted" type="xs:string" />
				<xs:element name="Relationship_with_Applicant" type="xs:string" />
				<xs:element name="Place_Visited" type="xs:string" />
				<xs:element name="Name_Plate_Of_App_Sighted" type="xs:string" />
				<xs:element name="Area_Residence" type="xs:string" />
				<xs:element name="Locating_Address" type="xs:string" />
				<xs:element name="Business_activity_Seen" type="xs:string" />
				<xs:element name="General_Comments" type="xs:string" />
				<xs:element name="Remark" type="xs:string" />
				<xs:element name="attempt_date_time" type="xs:string" />
				<xs:element name="verification_type_id" type="xs:string" />
				<xs:element name="description_res" type="xs:string" />
				<xs:element name="VeriName" type="xs:string" />
				<xs:element name="Status" type="xs:string" />
				<xs:element name="veri_date_time" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Kyc_ScbAC_Buss">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="case_id" type="xs:string" />
				<xs:element name="first_name" type="xs:string" />
				<xs:element name="OffAddress" type="xs:string" />
				<xs:element name="off_pin_code" type="xs:string" />
				<xs:element name="bussiness_tel_no" type="xs:string" />
				<xs:element name="full_name" type="xs:string" />
				<xs:element name="entity_type" type="xs:string" />
				<xs:element name="properietor_Partener_Met" type="xs:string" />
				<xs:element name="Name_person_contacted" type="xs:string" />
				<xs:element name="Person_Contacted" type="xs:string" />
				<xs:element name="Designation" type="xs:string" />
				<xs:element name="Premise_Location" type="xs:string" />
				<xs:element name="Prominent_Landmark" type="xs:string" />
				<xs:element name="Address_Verified_is" type="xs:string" />
				<xs:element name="How_long_Business" type="xs:string" />
				<xs:element name="Area_Premises" type="xs:string" />
				<xs:element name="Ownership_Premises" type="xs:string" />
				<xs:element name="Type_Premise" type="xs:string" />
				<xs:element name="ContactPerson" type="xs:string" />
				<xs:element name="Nature_Business" type="xs:string" />
				<xs:element name="Firm_Signboard_Sighted" type="xs:string" />
				<xs:element name="Name_On_Sign_Board" type="xs:string" />
				<xs:element name="Concern_Is_Related" type="xs:string" />
				<xs:element name="Concern_Related_Name" type="xs:string" />
				<xs:element name="Family_Member_Is" type="xs:string" />
				<xs:element name="Family_Member_Name" type="xs:string" />
				<xs:element name="Family_Member_Relationship" type="xs:string" />
				<xs:element name="Type_Document_Sighted" type="xs:string" />
				<xs:element name="Document_Sighted_Remark" type="xs:string" />
				<xs:element name="Used_Pages_Sighted_Date" type="xs:string" />
				<xs:element name="Issued_to" type="xs:string" />
				<xs:element name="Initial_Invoice_Sighted_No" type="xs:string" />
				<xs:element name="Initial_Invoice_Sighted_Date" type="xs:string" />
				<xs:element name="Initial_Invoice_issued_to" type="xs:string" />
				<xs:element name="Third_Party_Invoice_No" type="xs:string" />
				<xs:element name="Third_Party_Invoice_Date" type="xs:string" />
				<xs:element name="Third_Party_Invoice_Issued_by" type="xs:string" />
				<xs:element name="Third_Party_Address" type="xs:string" />
				<xs:element name="Relationship_between" type="xs:string" />
				<xs:element name="Business_Ownership" type="xs:string" />
				<xs:element name="Level_Business_Activity" type="xs:string" />
				<xs:element name="No_Employees" type="xs:string" />
				<xs:element name="Business_Equipment_Sighted" type="xs:string" />
				<xs:element name="Remark" type="xs:string" />
				<xs:element name="verification_type_id" type="xs:string" />
				<xs:element name="Add_date" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Kyc_ScbAc_CA">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="case_id" type="xs:string" />
				<xs:element name="Name_Account" type="xs:string" />
				<xs:element name="Request_No" type="xs:string" />
				<xs:element name="Name_CA_firms" type="xs:string" />
				<xs:element name="Address_CA_Firm" type="xs:string" />
				<xs:element name="tele_no_ca_firm" type="xs:string" />
				<xs:element name="firm_Exist_Address" type="xs:string" />
				<xs:element name="IS_CA_firm" type="xs:string" />
				<xs:element name="Name_Person_CA_Certificate" type="xs:string" />
				<xs:element name="IS_person_case_praticing" type="xs:string" />
				<xs:element name="Person_issued_Cerificate_spoken" type="xs:string" />
				<xs:element name="Cerificate_person_confirm" type="xs:string" />
				<xs:element name="inconclusive_Reason" type="xs:string" />
				<xs:element name="verification_type_id" type="xs:string" />
				<xs:element name="ref_no" type="xs:string" />
				<xs:element name="status" type="xs:string" />
				<xs:element name="veri_date_time" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Kyc_tcm_Bv">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="case_id" type="xs:string" />
				<xs:element name="Off_Name" type="xs:string" />
				<xs:element name="OffAdd" type="xs:string" />
				<xs:element name="off_phone" type="xs:string" />
				<xs:element name="email_id" type="xs:string" />
				<xs:element name="Website" type="xs:string" />
				<xs:element name="Company_Type" type="xs:string" />
				<xs:element name="CompRegiCheckSince" type="xs:string" />
				<xs:element name="CompRegiCheckSinceRegNo" type="xs:string" />
				<xs:element name="Premise_Location" type="xs:string" />
				<xs:element name="CompRegiCheckRemark" type="xs:string" />
				<xs:element name="Location_Profile" type="xs:string" />
				<xs:element name="bldg_Profile" type="xs:string" />
				<xs:element name="Flr_Profile" type="xs:string" />
				<xs:element name="Flr_Profile_left_neigh" type="xs:string" />
				<xs:element name="Flr_Profile_Flr_above" type="xs:string" />
				<xs:element name="Flr_Profile_Flr_belwo" type="xs:string" />
				<xs:element name="Name_board_out_Office" type="xs:string" />
				<xs:element name="Name_board_Lobby_area" type="xs:string" />
				<xs:element name="asso_company" type="xs:string" />
				<xs:element name="Gen_Interior" type="xs:string" />
				<xs:element name="No_Employees" type="xs:string" />
				<xs:element name="No_workstations" type="xs:string" />
				<xs:element name="owner_cabin" type="xs:string" />
				<xs:element name="Staying_since_Resi" type="xs:string" />
				<xs:element name="Ownership_Premises" type="xs:string" />
				<xs:element name="landlord" type="xs:string" />
				<xs:element name="Proppery_resi" type="xs:string" />
				<xs:element name="Proppery_comm" type="xs:string" />
				<xs:element name="Proppery_shop" type="xs:string" />
				<xs:element name="remark" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Kyc_YesBank_RV">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="case_id" type="xs:string" />
				<xs:element name="verification_type_id" type="xs:string" />
				<xs:element name="BranchName" type="xs:string" />
				<xs:element name="BranchCode" type="xs:string" />
				<xs:element name="VeriDate" type="xs:string" />
				<xs:element name="VeriTime" type="xs:string" />
				<xs:element name="TrigSVR_AO" type="xs:string" />
				<xs:element name="TrigSVR_RD" type="xs:string" />
				<xs:element name="RmName" type="xs:string" />
				<xs:element name="RmCode" type="xs:string" />
				<xs:element name="AccountNo" type="xs:string" />
				<xs:element name="Ref_No" type="xs:string" />
				<xs:element name="RES_PIN_CODE" type="xs:string" />
				<xs:element name="RES_LAND_MARK" type="xs:string" />
				<xs:element name="Name_Displayed_Board" type="xs:string" />
				<xs:element name="Person_Contacted" type="xs:string" />
				<xs:element name="CustName" type="xs:string" />
				<xs:element name="CustAdd" type="xs:string" />
				<xs:element name="Loc_Slum" type="xs:string" />
				<xs:element name="Loc_Mid" type="xs:string" />
				<xs:element name="Loc_Posh" type="xs:string" />
				<xs:element name="Resi_Bung" type="xs:string" />
				<xs:element name="Resi_Apt" type="xs:string" />
				<xs:element name="Resi_Soc" type="xs:string" />
				<xs:element name="Resi_Area" type="xs:string" />
				<xs:element name="DuringVeri" type="xs:string" />
				<xs:element name="Relationship_with_Applicant" type="xs:string" />
				<xs:element name="Res_phone" type="xs:string" />
				<xs:element name="Off_Phone" type="xs:string" />
				<xs:element name="Mobile" type="xs:string" />
				<xs:element name="Email_ID" type="xs:string" />
				<xs:element name="Staying_since_Resi" type="xs:string" />
				<xs:element name="Business_Occupation_Details" type="xs:string" />
				<xs:element name="PresentOccu" type="xs:string" />
				<xs:element name="RV_COMMENT" type="xs:string" />
				<xs:element name="Comments_Neighbour" type="xs:string" />
				<xs:element name="Address_Neighbour" type="xs:string" />
				<xs:element name="designation" type="xs:string" />
				<xs:element name="BspName" type="xs:string" />
				<xs:element name="NocName" type="xs:string" />
				<xs:element name="RmFormat_Yes" type="xs:string" />
				<xs:element name="RmFormat_No" type="xs:string" />
				<xs:element name="BllCase_Yes" type="xs:string" />
				<xs:element name="BllCase_No" type="xs:string" />
				<xs:element name="BllSvr_Yes" type="xs:string" />
				<xs:element name="BllSvr_No" type="xs:string" />
				<xs:element name="TvTele" type="xs:string" />
				<xs:element name="TvPerson" type="xs:string" />
				<xs:element name="TvRelation" type="xs:string" />
				<xs:element name="TvConAdd" type="xs:string" />
				<xs:element name="TvCustId" type="xs:string" />
				<xs:element name="Loc_Oth" type="xs:string" />
				<xs:element name="fe_signimage" type="xs:base64Binary" />
				<xs:element name="centre_pamacseal" type="xs:base64Binary" />
				<xs:element name="IfNamePLate" type="xs:string" />
				<xs:element name="NameOfficer" type="xs:string" />
				<xs:element name="SiteVerifier" type="xs:string" />
				<xs:element name="Sign1" type="xs:string" />
				<xs:element name="Sign2" type="xs:string" />
				<xs:element name="Sign3" type="xs:string" />
				<xs:element name="Sign4" type="xs:string" />
				<xs:element name="Sign5" type="xs:string" />
				<xs:element name="Sign6" type="xs:string" />
				<xs:element name="AccOpen_JK" type="xs:string" />
				<xs:element name="AccOpen_Walk" type="xs:string" />
				<xs:element name="AccOpen_Cash" type="xs:string" />
				<xs:element name="RetDel_CriRea" type="xs:string" />
				<xs:element name="RetDel_Sec" type="xs:string" />
				<xs:element name="RetDel_Non" type="xs:string" />
				<xs:element name="RetDel_bra" type="xs:string" />
				<xs:element name="RetDel_Rep" type="xs:string" />
				<xs:element name="RetDel_NonCric" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Kyc_YesBank_BV">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="case_id" type="xs:string" />
				<xs:element name="verification_type_id" type="xs:string" />
				<xs:element name="BranchName" type="xs:string" />
				<xs:element name="BranchCode" type="xs:string" />
				<xs:element name="VeriDate" type="xs:string" />
				<xs:element name="VeriTime" type="xs:string" />
				<xs:element name="TrigSVR_AO" type="xs:string" />
				<xs:element name="TrigSVR_RD" type="xs:string" />
				<xs:element name="RmName" type="xs:string" />
				<xs:element name="RmCode" type="xs:string" />
				<xs:element name="AccountNo" type="xs:string" />
				<xs:element name="Ref_No" type="xs:string" />
				<xs:element name="Off_PIN_CODE" type="xs:string" />
				<xs:element name="Prominent_Landmark" type="xs:string" />
				<xs:element name="ComProp" type="xs:string" />
				<xs:element name="CompPart" type="xs:string" />
				<xs:element name="CompPvt" type="xs:string" />
				<xs:element name="CompPub" type="xs:string" />
				<xs:element name="CompHuf" type="xs:string" />
				<xs:element name="CompInd" type="xs:string" />
				<xs:element name="CompOth" type="xs:string" />
				<xs:element name="NatProf" type="xs:string" />
				<xs:element name="NatManu" type="xs:string" />
				<xs:element name="NatSer" type="xs:string" />
				<xs:element name="NatComm" type="xs:string" />
				<xs:element name="NatTrad" type="xs:string" />
				<xs:element name="NatBrok" type="xs:string" />
				<xs:element name="NatShop" type="xs:string" />
				<xs:element name="NatTutor" type="xs:string" />
				<xs:element name="NatLic" type="xs:string" />
				<xs:element name="NatOth" type="xs:string" />
				<xs:element name="LocResi" type="xs:string" />
				<xs:element name="LocComm" type="xs:string" />
				<xs:element name="LocRCO" type="xs:string" />
				<xs:element name="LocInd" type="xs:string" />
				<xs:element name="LocBC" type="xs:string" />
				<xs:element name="LocSlum" type="xs:string" />
				<xs:element name="LocUnd" type="xs:string" />
				<xs:element name="AddEasy" type="xs:string" />
				<xs:element name="AddDiff" type="xs:string" />
				<xs:element name="AddUnt" type="xs:string" />
				<xs:element name="CardYes" type="xs:string" />
				<xs:element name="CardNo" type="xs:string" />
				<xs:element name="BoardYes" type="xs:string" />
				<xs:element name="BoardNo" type="xs:string" />
				<xs:element name="BuildPosh" type="xs:string" />
				<xs:element name="BuildGood" type="xs:string" />
				<xs:element name="BuildAvg" type="xs:string" />
				<xs:element name="BuildPoor" type="xs:string" />
				<xs:element name="DuringVeri" type="xs:string" />
				<xs:element name="designation" type="xs:string" />
				<xs:element name="Off_Phone" type="xs:string" />
				<xs:element name="Mobile" type="xs:string" />
				<xs:element name="Email_ID" type="xs:string" />
				<xs:element name="Remark" type="xs:string" />
				<xs:element name="No_Years_Current_Employment" type="xs:string" />
				<xs:element name="Comments_Neighbour" type="xs:string" />
				<xs:element name="Address_Neighbour" type="xs:string" />
				<xs:element name="No_Employees" type="xs:string" />
				<xs:element name="ActNo" type="xs:string" />
				<xs:element name="ActMed" type="xs:string" />
				<xs:element name="ActLow" type="xs:string" />
				<xs:element name="ActHigh" type="xs:string" />
				<xs:element name="EquipmentSeen_OR_Shift_Arrangement" type="xs:string" />
				<xs:element name="BspName" type="xs:string" />
				<xs:element name="NocName" type="xs:string" />
				<xs:element name="CustName" type="xs:string" />
				<xs:element name="CustAdd" type="xs:string" />
				<xs:element name="RmFormat_Yes" type="xs:string" />
				<xs:element name="RmFormat_No" type="xs:string" />
				<xs:element name="BllCase_Yes" type="xs:string" />
				<xs:element name="BllCase_No" type="xs:string" />
				<xs:element name="BllSvr_Yes" type="xs:string" />
				<xs:element name="BllSvr_No" type="xs:string" />
				<xs:element name="TvTele" type="xs:string" />
				<xs:element name="TvPerson" type="xs:string" />
				<xs:element name="TvRelation" type="xs:string" />
				<xs:element name="TvConAdd" type="xs:string" />
				<xs:element name="TvCustId" type="xs:string" />
				<xs:element name="fe_signimage" type="xs:base64Binary" />
				<xs:element name="centre_pamacseal" type="xs:base64Binary" />
				<xs:element name="Buld_Easy" type="xs:string" />
				<xs:element name="Build_Diff" type="xs:string" />
				<xs:element name="AutoSign" type="xs:string" />
				<xs:element name="NameOfficer" type="xs:string" />
				<xs:element name="SiteVerifier" type="xs:string" />
				<xs:element name="Sign1" type="xs:string" />
				<xs:element name="Sign2" type="xs:string" />
				<xs:element name="Sign3" type="xs:string" />
				<xs:element name="Sign4" type="xs:string" />
				<xs:element name="Sign5" type="xs:string" />
				<xs:element name="Sign6" type="xs:string" />
				<xs:element name="AccOpen_JK" type="xs:string" />
				<xs:element name="AccOpen_Walk" type="xs:string" />
				<xs:element name="AccOpen_Cash" type="xs:string" />
				<xs:element name="RetDel_CriRea" type="xs:string" />
				<xs:element name="RetDel_Sec" type="xs:string" />
				<xs:element name="RetDel_Non" type="xs:string" />
				<xs:element name="RetDel_bra" type="xs:string" />
				<xs:element name="RetDel_Rep" type="xs:string" />
				<xs:element name="RetDel_NonCric" type="xs:string" />
				<xs:element name="DesgBO" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Kyc_AtomTech_BV">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Case_Id" type="xs:string" />
				<xs:element name="off_name" type="xs:string" />
				<xs:element name="LegalName" type="xs:string" />
				<xs:element name="Address" type="xs:string" />
				<xs:element name="off_city" type="xs:string" />
				<xs:element name="Off_pin_code" type="xs:string" />
				<xs:element name="prominent_landmark" type="xs:string" />
				<xs:element name="person_contacted" type="xs:string" />
				<xs:element name="off_phone" type="xs:string" />
				<xs:element name="Designation" type="xs:string" />
				<xs:element name="CompType_Pvt" type="xs:string" />
				<xs:element name="CompType_Part" type="xs:string" />
				<xs:element name="CompType_Prop" type="xs:string" />
				<xs:element name="CompType_Govt" type="xs:string" />
				<xs:element name="NameProp" type="xs:string" />
				<xs:element name="RmName" type="xs:string" />
				<xs:element name="Staying_since_resi" type="xs:string" />
				<xs:element name="CompRegiCheckSinceRegNo" type="xs:string" />
				<xs:element name="compRegiCheckSince" type="xs:string" />
				<xs:element name="Premises_Own" type="xs:string" />
				<xs:element name="Premises_Rent" type="xs:string" />
				<xs:element name="Premises_Leas" type="xs:string" />
				<xs:element name="area_premises" type="xs:string" />
				<xs:element name="product" type="xs:string" />
				<xs:element name="Franchesee" type="xs:string" />
				<xs:element name="CurrAcq_Yes" type="xs:string" />
				<xs:element name="CurrAcq_No" type="xs:string" />
				<xs:element name="Bank" type="xs:string" />
				<xs:element name="mid" type="xs:string" />
				<xs:element name="NoOutlet" type="xs:string" />
				<xs:element name="NoTerminal" type="xs:string" />
				<xs:element name="Period" type="xs:string" />
				<xs:element name="Reason" type="xs:string" />
				<xs:element name="Loc_Slum" type="xs:string" />
				<xs:element name="Loc_Avg" type="xs:string" />
				<xs:element name="Loc_Good" type="xs:string" />
				<xs:element name="Area_Resi" type="xs:string" />
				<xs:element name="Area_Comm" type="xs:string" />
				<xs:element name="App_Shab" type="xs:string" />
				<xs:element name="App_Unfurn" type="xs:string" />
				<xs:element name="App_Semi" type="xs:string" />
				<xs:element name="App_good" type="xs:string" />
				<xs:element name="App_Exc" type="xs:string" />
				<xs:element name="BusAct_Yes" type="xs:string" />
				<xs:element name="BusAct_No" type="xs:string" />
				<xs:element name="Stock_Low" type="xs:string" />
				<xs:element name="Stock_Avg" type="xs:string" />
				<xs:element name="Stock_Good" type="xs:string" />
				<xs:element name="No_Employees" type="xs:string" />
				<xs:element name="Board_Yes" type="xs:string" />
				<xs:element name="Board_No" type="xs:string" />
				<xs:element name="Name_of_DP" type="xs:string" />
				<xs:element name="Feedback_Pos" type="xs:string" />
				<xs:element name="Feedback_Neg" type="xs:string" />
				<xs:element name="NeighContact" type="xs:string" />
				<xs:element name="NeighDesg" type="xs:string" />
				<xs:element name="Address_neighbour" type="xs:string" />
				<xs:element name="Remark" type="xs:string" />
				<xs:element name="Stat_Pos" type="xs:string" />
				<xs:element name="Stat_Neg" type="xs:string" />
				<xs:element name="Stat_Ref" type="xs:string" />
				<xs:element name="veri_date_time" type="xs:string" />
				<xs:element name="SupDesg" type="xs:string" />
				<xs:element name="fe_signimage" type="xs:base64Binary" />
				<xs:element name="centre_pamacseal" type="xs:base64Binary" />
				<xs:element name="CompType_Oth" type="xs:string" />
				<xs:element name="VeriName" type="xs:string" />
				<xs:element name="Verification_type_id" type="xs:string" />
				<xs:element name="NeighRemark" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Kyc_AtomTech_BV_POS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Case_Id" type="xs:string" />
				<xs:element name="off_name" type="xs:string" />
				<xs:element name="LegalName" type="xs:string" />
				<xs:element name="Address" type="xs:string" />
				<xs:element name="off_city" type="xs:string" />
				<xs:element name="Off_pin_code" type="xs:string" />
				<xs:element name="prominent_landmark" type="xs:string" />
				<xs:element name="person_contacted" type="xs:string" />
				<xs:element name="off_phone" type="xs:string" />
				<xs:element name="Designation" type="xs:string" />
				<xs:element name="CompType_Pvt" type="xs:string" />
				<xs:element name="CompType_Part" type="xs:string" />
				<xs:element name="CompType_Prop" type="xs:string" />
				<xs:element name="CompType_Govt" type="xs:string" />
				<xs:element name="NameProp" type="xs:string" />
				<xs:element name="RmName" type="xs:string" />
				<xs:element name="Staying_since_resi" type="xs:string" />
				<xs:element name="CompRegiCheckSinceRegNo" type="xs:string" />
				<xs:element name="compRegiCheckSince" type="xs:string" />
				<xs:element name="Premises_Own" type="xs:string" />
				<xs:element name="Premises_Rent" type="xs:string" />
				<xs:element name="Premises_Leas" type="xs:string" />
				<xs:element name="area_premises" type="xs:string" />
				<xs:element name="product" type="xs:string" />
				<xs:element name="Franchesee" type="xs:string" />
				<xs:element name="CurrAcq_Yes" type="xs:string" />
				<xs:element name="CurrAcq_No" type="xs:string" />
				<xs:element name="Bank" type="xs:string" />
				<xs:element name="mid" type="xs:string" />
				<xs:element name="NoOutlet" type="xs:string" />
				<xs:element name="NoTerminal" type="xs:string" />
				<xs:element name="Period" type="xs:string" />
				<xs:element name="Reason" type="xs:string" />
				<xs:element name="Loc_Slum" type="xs:string" />
				<xs:element name="Loc_Avg" type="xs:string" />
				<xs:element name="Loc_Good" type="xs:string" />
				<xs:element name="Area_Resi" type="xs:string" />
				<xs:element name="Area_Comm" type="xs:string" />
				<xs:element name="App_Shab" type="xs:string" />
				<xs:element name="App_Unfurn" type="xs:string" />
				<xs:element name="App_Semi" type="xs:string" />
				<xs:element name="App_good" type="xs:string" />
				<xs:element name="App_Exc" type="xs:string" />
				<xs:element name="BusAct_Yes" type="xs:string" />
				<xs:element name="BusAct_No" type="xs:string" />
				<xs:element name="Stock_Low" type="xs:string" />
				<xs:element name="Stock_Avg" type="xs:string" />
				<xs:element name="Stock_Good" type="xs:string" />
				<xs:element name="No_Employees" type="xs:string" />
				<xs:element name="Board_Yes" type="xs:string" />
				<xs:element name="Board_No" type="xs:string" />
				<xs:element name="Name_of_DP" type="xs:string" />
				<xs:element name="Feedback_Pos" type="xs:string" />
				<xs:element name="Feedback_Neg" type="xs:string" />
				<xs:element name="NeighContact" type="xs:string" />
				<xs:element name="NeighDesg" type="xs:string" />
				<xs:element name="Address_neighbour" type="xs:string" />
				<xs:element name="Remark" type="xs:string" />
				<xs:element name="Stat_Pos" type="xs:string" />
				<xs:element name="Stat_Neg" type="xs:string" />
				<xs:element name="Stat_Ref" type="xs:string" />
				<xs:element name="veri_date_time" type="xs:string" />
				<xs:element name="SupDesg" type="xs:string" />
				<xs:element name="fe_signimage" type="xs:base64Binary" />
				<xs:element name="centre_pamacseal" type="xs:base64Binary" />
				<xs:element name="CompType_Oth" type="xs:string" />
				<xs:element name="VeriName" type="xs:string" />
				<xs:element name="Verification_type_id" type="xs:string" />
				<xs:element name="NeighRemark" type="xs:string" />
				<xs:element name="Manual" type="xs:string" />
				<xs:element name="Electronic" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Deutschebank_BV">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="caseID" type="xs:string" />
				<xs:element name="Recivedate" type="xs:string" />
				<xs:element name="sentdate" type="xs:string" />
				<xs:element name="NAME" type="xs:string" />
				<xs:element name="Rsistance_Address" type="xs:string" />
				<xs:element name="pincode" type="xs:string" />
				<xs:element name="Landmarks" type="xs:string" />
				<xs:element name="Res_telphone" type="xs:string" />
				<xs:element name="BusinessOccupationDetalis" type="xs:string" />
				<xs:element name="PersonContacted" type="xs:string" />
				<xs:element name="PlaceVisted_Resisdence" type="xs:string" />
				<xs:element name="PlaceVisted_Office" type="xs:string" />
				<xs:element name="NameplateOfAppSighted_Yes" type="xs:string" />
				<xs:element name="NameplateOfAppSighted_No" type="xs:string" />
				<xs:element name="PermentAddress" type="xs:string" />
				<xs:element name="LocatingAddress_easy" type="xs:string" />
				<xs:element name="LocatingAddress_Difficult" type="xs:string" />
				<xs:element name="LocatingAddress_Untraceable" type="xs:string" />
				<xs:element name="BusinessactivitySeen" type="xs:string" />
				<xs:element name="GeneralComments" type="xs:string" />
				<xs:element name="Verificationdate" type="xs:string" />
				<xs:element name="Verificationtime" type="xs:string" />
				<xs:element name="Neighbourcheck" type="xs:string" />
				<xs:element name="NumberOfResyear" type="xs:string" />
				<xs:element name="NoOfEmp" type="xs:string" />
				<xs:element name="NoOfComputer" type="xs:string" />
				<xs:element name="NoOfTelephone" type="xs:string" />
				<xs:element name="NoOfFloor" type="xs:string" />
				<xs:element name="customerexiswhichfloor" type="xs:string" />
				<xs:element name="Verifername" type="xs:string" />
				<xs:element name="fe_signimage" type="xs:base64Binary" />
				<xs:element name="centre_pamacseal" type="xs:base64Binary" />
				<xs:element name="status" type="xs:string" />
				<xs:element name="PlaceVisited" type="xs:string" />
				<xs:element name="PlaceVisted_Industrial" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Indusandbank_BV">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BranchCode" type="xs:string" />
				<xs:element name="BranchName" type="xs:string" />
				<xs:element name="verificationdate" type="xs:string" />
				<xs:element name="NameOfFirm" type="xs:string" />
				<xs:element name="Applicant_Name" type="xs:string" />
				<xs:element name="Address" type="xs:string" />
				<xs:element name="Landmark" type="xs:string" />
				<xs:element name="Pincode" type="xs:string" />
				<xs:element name="PhoneNo" type="xs:string" />
				<xs:element name="MOBILE" type="xs:string" />
				<xs:element name="NameOfPersonContacted" type="xs:string" />
				<xs:element name="NameOfAddress" type="xs:string" />
				<xs:element name="NeighbourTelNo" type="xs:string" />
				<xs:element name="FULLNAME" type="xs:string" />
				<xs:element name="Location" type="xs:string" />
				<xs:element name="ConfirmationAddress_yes" type="xs:string" />
				<xs:element name="ConfirmationAddress_No" type="xs:string" />
				<xs:element name="Thiredpartyconfirmation_Yes" type="xs:string" />
				<xs:element name="Thiredpartyconfirmation_No" type="xs:string" />
				<xs:element name="fe_signimage" type="xs:base64Binary" />
				<xs:element name="centre_pamacseal" type="xs:base64Binary" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HDFCERGO_BV">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="case_id" type="xs:string" />
				<xs:element name="NAME" type="xs:string" />
				<xs:element name="RefCode" type="xs:string" />
				<xs:element name="OFFICE_ADDRESS" type="xs:string" />
				<xs:element name="pincode" type="xs:string" />
				<xs:element name="Workingyear" type="xs:string" />
				<xs:element name="Officeowership_Self" type="xs:string" />
				<xs:element name="Officeowership_Rented" type="xs:string" />
				<xs:element name="Officeowership_sharedaccommodation" type="xs:string" />
				<xs:element name="Owership_other" type="xs:string" />
				<xs:element name="TypeOfOffice_OfficeCommercialbldg" type="xs:string" />
				<xs:element name="TypeOfOffice_Flat" type="xs:string" />
				<xs:element name="TypeOfOffice_Shop" type="xs:string" />
				<xs:element name="TypeOfOffice_other" type="xs:string" />
				<xs:element name="LocatingAddress_easy" type="xs:string" />
				<xs:element name="LocatingAddress_Difficult" type="xs:string" />
				<xs:element name="LocatingAddress_Untraceable" type="xs:string" />
				<xs:element name="Contactedpersonname" type="xs:string" />
				<xs:element name="RelationOfPersonContacted" type="xs:string" />
				<xs:element name="Neighbourremark" type="xs:string" />
				<xs:element name="status_positive" type="xs:string" />
				<xs:element name="status_Negative" type="xs:string" />
				<xs:element name="verifierremark" type="xs:string" />
				<xs:element name="date" type="xs:string" />
				<xs:element name="Time" type="xs:string" />
				<xs:element name="Supervisorname" type="xs:string" />
				<xs:element name="Verifiername" type="xs:string" />
				<xs:element name="fe_signimage" type="xs:base64Binary" />
				<xs:element name="centre_pamacseal" type="xs:base64Binary" />
				<xs:element name="Mettoapplicant_Yes" type="xs:string" />
				<xs:element name="Mettoapplicant_No" type="xs:string" />
				<xs:element name="Rationcardavailable_Yes" type="xs:string" />
				<xs:element name="Rationcardavailable_No" type="xs:string" />
				<xs:element name="off_city" type="xs:string" />
				<xs:element name="sup_signimage" type="xs:base64Binary" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HDFCERGO_RV">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="case_id" type="xs:string" />
				<xs:element name="REF_NO" type="xs:string" />
				<xs:element name="Applicant_Name" type="xs:string" />
				<xs:element name="Address" type="xs:string" />
				<xs:element name="pincode" type="xs:string" />
				<xs:element name="Workingyear" type="xs:string" />
				<xs:element name="Type_Hut" type="xs:string" />
				<xs:element name="Type_Chawl" type="xs:string" />
				<xs:element name="Type_Bungalow" type="xs:string" />
				<xs:element name="Type_Apartment" type="xs:string" />
				<xs:element name="Locating_Easy" type="xs:string" />
				<xs:element name="Locating_Difficult" type="xs:string" />
				<xs:element name="Locating_Untraceable" type="xs:string" />
				<xs:element name="PersonContacted" type="xs:string" />
				<xs:element name="Relationship" type="xs:string" />
				<xs:element name="ConfirmationOfNeighbour" type="xs:string" />
				<xs:element name="status_positive" type="xs:string" />
				<xs:element name="status_Negative" type="xs:string" />
				<xs:element name="Remark" type="xs:string" />
				<xs:element name="date" type="xs:string" />
				<xs:element name="Time" type="xs:string" />
				<xs:element name="supervisorname" type="xs:string" />
				<xs:element name="Verifiername" type="xs:string" />
				<xs:element name="fe_signimage" type="xs:base64Binary" />
				<xs:element name="centre_pamacseal" type="xs:base64Binary" />
				<xs:element name="MetToapplicant_Yes" type="xs:string" />
				<xs:element name="MetToapplicant_No" type="xs:string" />
				<xs:element name="OwershipOfresistance_Rented" type="xs:string" />
				<xs:element name="OwershipOfresistance_Parents" type="xs:string" />
				<xs:element name="Ownershipofresidence_paying" type="xs:string" />
				<xs:element name="Rationcard_yes" type="xs:string" />
				<xs:element name="Rationcard_No" type="xs:string" />
				<xs:element name="Ownershipofresidence_shared" type="xs:string" />
				<xs:element name="city" type="xs:string" />
				<xs:element name="sup_signimage" type="xs:base64Binary" />
				<xs:element name="Locality_Type_othersvalues" type="xs:string" />
				<xs:element name="Type_other" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HDFC_SALES_RV">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Off_name" type="xs:string" />
				<xs:element name="OffAdd" type="xs:string" />
				<xs:element name="mobile" type="xs:string" />
				<xs:element name="telecaller_name" type="xs:string" />
				<xs:element name="telecaller_Address" type="xs:string" />
				<xs:element name="telecaller_location" type="xs:string" />
				<xs:element name="visit_reason" type="xs:string" />
				<xs:element name="Personmet_reason" type="xs:string" />
				<xs:element name="Setup_details" type="xs:string" />
				<xs:element name="Associate" type="xs:string" />
				<xs:element name="Not_Associate" type="xs:string" />
				<xs:element name="Calling_behalf" type="xs:string" />
				<xs:element name="Any_other_info" type="xs:string" />
				<xs:element name="met_Yes" type="xs:string" />
				<xs:element name="met_No" type="xs:string" />
				<xs:element name="visit_Yes" type="xs:string" />
				<xs:element name="visit_No" type="xs:string" />
				<xs:element name="fe_signimage" type="xs:base64Binary" />
				<xs:element name="centre_pamacseal" type="xs:base64Binary" />
				<xs:element name="RES_PHONE" type="xs:string" />
				<xs:element name="Fe_name" type="xs:string" />
				<xs:element name="Sup_name" type="xs:string" />
				<xs:element name="sup_signimage" type="xs:base64Binary" />
				<xs:element name="fullname" type="xs:string" />
				<xs:element name="OffAdd1" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HDFC_SALES_BV">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Off_name" type="xs:string" />
				<xs:element name="OffAdd" type="xs:string" />
				<xs:element name="mobile" type="xs:string" />
				<xs:element name="telecaller_name" type="xs:string" />
				<xs:element name="telecaller_Address" type="xs:string" />
				<xs:element name="telecaller_location" type="xs:string" />
				<xs:element name="visit_reason" type="xs:string" />
				<xs:element name="Personmet_reason" type="xs:string" />
				<xs:element name="Setup_details" type="xs:string" />
				<xs:element name="Associate" type="xs:string" />
				<xs:element name="Not_Associate" type="xs:string" />
				<xs:element name="Calling_behalf" type="xs:string" />
				<xs:element name="Any_other_info" type="xs:string" />
				<xs:element name="met_Yes" type="xs:string" />
				<xs:element name="met_No" type="xs:string" />
				<xs:element name="visit_Yes" type="xs:string" />
				<xs:element name="visit_No" type="xs:string" />
				<xs:element name="fe_signimage" type="xs:base64Binary" />
				<xs:element name="centre_pamacseal" type="xs:base64Binary" />
				<xs:element name="RES_PHONE" type="xs:string" />
				<xs:element name="sup_signimage" type="xs:base64Binary" />
				<xs:element name="Fe_name" type="xs:string" />
				<xs:element name="Sup_name" type="xs:string" />
				<xs:element name="fullname" type="xs:string" />
				<xs:element name="OffAdd1" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Kun_RV">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="case_id" type="xs:string" />
				<xs:element name="REF_NO" type="xs:string" />
				<xs:element name="Applicant_Name" type="xs:string" />
				<xs:element name="Address" type="xs:string" />
				<xs:element name="status_positive" type="xs:string" />
				<xs:element name="status_Negative" type="xs:string" />
				<xs:element name="status_Recommended" type="xs:string" />
				<xs:element name="verifeircomment" type="xs:string" />
				<xs:element name="Address_Neighbour" type="xs:string" />
				<xs:element name="Ownership_owned" type="xs:string" />
				<xs:element name="Ownership_Rented" type="xs:string" />
				<xs:element name="Ownership_PG" type="xs:string" />
				<xs:element name="Ownership_Company" type="xs:string" />
				<xs:element name="NoOfyearbusniess" type="xs:string" />
				<xs:element name="Anyotherfeedback" type="xs:string" />
				<xs:element name="Person_Contacted" type="xs:string" />
				<xs:element name="Relationship_with_Applicant" type="xs:string" />
				<xs:element name="Namepalte_Yes" type="xs:string" />
				<xs:element name="Namepalte_No" type="xs:string" />
				<xs:element name="Permanent_Address" type="xs:string" />
				<xs:element name="Product" type="xs:string" />
				<xs:element name="LOcality_Posh" type="xs:string" />
				<xs:element name="LOcality_UpperMiddle" type="xs:string" />
				<xs:element name="LOcality_MiddleClass" type="xs:string" />
				<xs:element name="LOcality_LowerMiddleClass" type="xs:string" />
				<xs:element name="LOcality_VillageArea" type="xs:string" />
				<xs:element name="LOcality_Slums" type="xs:string" />
				<xs:element name="LOcality_ResidentialComplex" type="xs:string" />
				<xs:element name="Citylimit_ICL" type="xs:string" />
				<xs:element name="Citylimit_OCL" type="xs:string" />
				<xs:element name="Landmark" type="xs:string" />
				<xs:element name="LocationgAddress_Easy" type="xs:string" />
				<xs:element name="LocationgAddress_Difficult" type="xs:string" />
				<xs:element name="LocationgAddress_Untraceable" type="xs:string" />
				<xs:element name="Namedisplayboard_yes" type="xs:string" />
				<xs:element name="Namedisplayboard_No" type="xs:string" />
				<xs:element name="Permamnent_Tel_no" type="xs:string" />
				<xs:element name="date" type="xs:string" />
				<xs:element name="Time" type="xs:string" />
				<xs:element name="supervisorname" type="xs:string" />
				<xs:element name="Verifiername" type="xs:string" />
				<xs:element name="fe_signimage" type="xs:base64Binary" />
				<xs:element name="centre_pamacseal" type="xs:base64Binary" />
				<xs:element name="applicantstayheare_yes" type="xs:string" />
				<xs:element name="applicantstayheare_No" type="xs:string" />
				<xs:element name="Ownership_Parental" type="xs:string" />
				<xs:element name="Ownership_Self" type="xs:string" />
				<xs:element name="Ownership_Relative" type="xs:string" />
				<xs:element name="Ownership_Friend" type="xs:string" />
				<xs:element name="Ownership_Bachelor" type="xs:string" />
				<xs:element name="Ownership_Rented1" type="xs:string" />
				<xs:element name="Ownership_Company1" type="xs:string" />
				<xs:element name="Ownership_PG1" type="xs:string" />
				<xs:element name="Ownership_Other" type="xs:string" />
				<xs:element name="Tradingexperience_yes" type="xs:string" />
				<xs:element name="Tradingexperience_No" type="xs:string" />
				<xs:element name="Noofmembers" type="xs:string" />
				<xs:element name="vehical_Owned" type="xs:string" />
				<xs:element name="vehical_Finance" type="xs:string" />
				<xs:element name="Occuption_Government" type="xs:string" />
				<xs:element name="Occuption_Private" type="xs:string" />
				<xs:element name="Occuption_Business" type="xs:string" />
				<xs:element name="Occuption_Student" type="xs:string" />
				<xs:element name="Occuption_Retired" type="xs:string" />
				<xs:element name="Occuption_Housewife" type="xs:string" />
				<xs:element name="Occuption_Other" type="xs:string" />
				<xs:element name="IfSalnameoftheoragnization" type="xs:string" />
				<xs:element name="IfBusinessnatureofbusiness" type="xs:string" />
				<xs:element name="carpark_yes" type="xs:string" />
				<xs:element name="carpark_No" type="xs:string" />
				<xs:element name="TypeofResidence_Bungalow" type="xs:string" />
				<xs:element name="TypeofResidence_Flat" type="xs:string" />
				<xs:element name="TypeofResidence_Individualhouse" type="xs:string" />
				<xs:element name="TypeofResidence_Standingchawl" type="xs:string" />
				<xs:element name="TypeofResidence_Hutment" type="xs:string" />
				<xs:element name="TypeofResidence_Slum" type="xs:string" />
				<xs:element name="TypeofResidence_Staffquarter" type="xs:string" />
				<xs:element name="TypeofResidence_Hotel" type="xs:string" />
				<xs:element name="TypeofResidence_Annexetohouse" type="xs:string" />
				<xs:element name="TypeofResidence_Tenament" type="xs:string" />
				<xs:element name="EquipInOffice_Gerden" type="xs:string" />
				<xs:element name="EquipInOffice_Building" type="xs:string" />
				<xs:element name="EquipInOffice_Elevator" type="xs:string" />
				<xs:element name="EquipInOffice_Fincing" type="xs:string" />
				<xs:element name="EquipInOffice_Security" type="xs:string" />
				<xs:element name="ResidenceInternal_Wellfurnished" type="xs:string" />
				<xs:element name="ResidenceInternal_Avgfurnished" type="xs:string" />
				<xs:element name="ResidenceInternal_Poorlyfurnished" type="xs:string" />
				<xs:element name="ResidenceInternal_Unfurnished" type="xs:string" />
				<xs:element name="Construction_Pukka" type="xs:string" />
				<xs:element name="Construction_Sami" type="xs:string" />
				<xs:element name="Construction_Temporary" type="xs:string" />
				<xs:element name="typeofflooring_Mosaic" type="xs:string" />
				<xs:element name="typeofflooring_Marble" type="xs:string" />
				<xs:element name="typeofflooring_Cement" type="xs:string" />
				<xs:element name="TypeOfRoofing_Tile" type="xs:string" />
				<xs:element name="TypeOfRoofing_Asbestos" type="xs:string" />
				<xs:element name="TypeOfRoofing_Concrete" type="xs:string" />
				<xs:element name="TypeOfRoofing_Thached" type="xs:string" />
				<xs:element name="Standardofliving_High" type="xs:string" />
				<xs:element name="Standardofliving_Good" type="xs:string" />
				<xs:element name="Standardofliving_Average" type="xs:string" />
				<xs:element name="Standardofliving_Poor" type="xs:string" />
				<xs:element name="Assets_TV" type="xs:string" />
				<xs:element name="Assets_Phone" type="xs:string" />
				<xs:element name="Assets_Sofa" type="xs:string" />
				<xs:element name="Assets_Fridge" type="xs:string" />
				<xs:element name="Assets_Music" type="xs:string" />
				<xs:element name="Assets_Washing" type="xs:string" />
				<xs:element name="Assets_Computer" type="xs:string" />
				<xs:element name="Assets_Ac" type="xs:string" />
				<xs:element name="Assets_other" type="xs:string" />
				<xs:element name="Anydisplayofpoliticalpartyseen" type="xs:string" />
				<xs:element name="Standardofliving_Yes" type="xs:string" />
				<xs:element name="Standardofliving_No" type="xs:string" />
				<xs:element name="Inpersonverificationwiththeapplicant_Other" type="xs:string" />
				<xs:element name="Name_Plate_Of_App_Sighted_Yes" type="xs:string" />
				<xs:element name="Name_Plate_Of_App_Sighted_No" type="xs:string" />
				<xs:element name="Equitycash_Equity" type="xs:string" />
				<xs:element name="Equitycash_EquityF" type="xs:string" />
				<xs:element name="Equitycash_Commodities" type="xs:string" />
				<xs:element name="Equitycash_Currency" type="xs:string" />
				<xs:element name="Reasonsfornotrecommended_Incorrect" type="xs:string" />
				<xs:element name="Reasonsfornotrecommended_Residence" type="xs:string" />
				<xs:element name="Reasonsfornotrecommended_Bad" type="xs:string" />
				<xs:element name="Reasonsfornotrecommended_Poor" type="xs:string" />
				<xs:element name="Reasonsfornotrecommended_Residence1" type="xs:string" />
				<xs:element name="Reasonsfornotrecommended_Politically" type="xs:string" />
				<xs:element name="Matchinnegativelists_Yes" type="xs:string" />
				<xs:element name="Matchinnegativelists_No" type="xs:string" />
				<xs:element name="status_NonRecommended" type="xs:string" />
				<xs:element name="status_VerifiUnsuccess" type="xs:string" />
				<xs:element name="Sup_SignImage" type="xs:base64Binary" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Kun_BV">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="case_id" type="xs:string" />
				<xs:element name="REF_NO" type="xs:string" />
				<xs:element name="Applicant_Name" type="xs:string" />
				<xs:element name="Address" type="xs:string" />
				<xs:element name="status_Negative" type="xs:string" />
				<xs:element name="status_Recommended" type="xs:string" />
				<xs:element name="status_NonRecommended" type="xs:string" />
				<xs:element name="status_VerifiUnsuccess" type="xs:string" />
				<xs:element name="Remark" type="xs:string" />
				<xs:element name="Address_Neighbour" type="xs:string" />
				<xs:element name="Staying_since_Resi" type="xs:string" />
				<xs:element name="Any_other_info" type="xs:string" />
				<xs:element name="Person_Contacted" type="xs:string" />
				<xs:element name="Relationship_with_Applicant" type="xs:string" />
				<xs:element name="Owner_Own" type="xs:string" />
				<xs:element name="Owner_Rent" type="xs:string" />
				<xs:element name="Owner_Company" type="xs:string" />
				<xs:element name="Owner_Other" type="xs:string" />
				<xs:element name="Permanent_Addr" type="xs:string" />
				<xs:element name="CurrentYears" type="xs:string" />
				<xs:element name="Business_Since" type="xs:string" />
				<xs:element name="Permanent_Tel" type="xs:string" />
				<xs:element name="Nature_Business" type="xs:string" />
				<xs:element name="Office_Independent" type="xs:string" />
				<xs:element name="Office_BusiCentre" type="xs:string" />
				<xs:element name="Office_Industry" type="xs:string" />
				<xs:element name="Office_ResicumOffice" type="xs:string" />
				<xs:element name="Office_Smallscale" type="xs:string" />
				<xs:element name="Office_OfficeComplex" type="xs:string" />
				<xs:element name="Office_Shared" type="xs:string" />
				<xs:element name="Office_Clinic" type="xs:string" />
				<xs:element name="Office_Shop" type="xs:string" />
				<xs:element name="Office_Others" type="xs:string" />
				<xs:element name="Locality_Commercial" type="xs:string" />
				<xs:element name="Locality_Industrial" type="xs:string" />
				<xs:element name="Locality_Residential" type="xs:string" />
				<xs:element name="Locality_ShoppingComplex" type="xs:string" />
				<xs:element name="Locality_BusinessCentre" type="xs:string" />
				<xs:element name="Locality_Godown" type="xs:string" />
				<xs:element name="Locality_SmallScale" type="xs:string" />
				<xs:element name="Locality_Plant" type="xs:string" />
				<xs:element name="Locality_Others" type="xs:string" />
				<xs:element name="OfficeArea" type="xs:string" />
				<xs:element name="City_LimitYES" type="xs:string" />
				<xs:element name="City_LimitNO" type="xs:string" />
				<xs:element name="OCL_distance" type="xs:string" />
				<xs:element name="Permanent_Landmark" type="xs:string" />
				<xs:element name="Locating_Easy" type="xs:string" />
				<xs:element name="Locating_Difficult" type="xs:string" />
				<xs:element name="Locating_Untraceable" type="xs:string" />
				<xs:element name="CarYes" type="xs:string" />
				<xs:element name="CarNo" type="xs:string" />
				<xs:element name="CompanyBoard_YES" type="xs:string" />
				<xs:element name="CompanyBoard_NO" type="xs:string" />
				<xs:element name="nameboard_YES" type="xs:string" />
				<xs:element name="nameboard_NO" type="xs:string" />
				<xs:element name="Name_board_out_Office" type="xs:string" />
				<xs:element name="OfficeInternal_Wellfurnished" type="xs:string" />
				<xs:element name="OfficeInternal_Avgfurnished" type="xs:string" />
				<xs:element name="OfficeInternal_Poorlyfurnished" type="xs:string" />
				<xs:element name="OfficeInternal_Unfurnished" type="xs:string" />
				<xs:element name="Construction_Pukka" type="xs:string" />
				<xs:element name="Construction_Sami" type="xs:string" />
				<xs:element name="Construction_Temporary" type="xs:string" />
				<xs:element name="Activity_High" type="xs:string" />
				<xs:element name="Activity_Good" type="xs:string" />
				<xs:element name="Activity_Medium" type="xs:string" />
				<xs:element name="Activity_Poor" type="xs:string" />
				<xs:element name="Assets_TV" type="xs:string" />
				<xs:element name="Assets_Phone" type="xs:string" />
				<xs:element name="Assets_Sofa" type="xs:string" />
				<xs:element name="Assets_Fridge" type="xs:string" />
				<xs:element name="Assets_Reception" type="xs:string" />
				<xs:element name="Assets_Computer" type="xs:string" />
				<xs:element name="Assets_Ac" type="xs:string" />
				<xs:element name="Assets_other" type="xs:string" />
				<xs:element name="Anydisplayofpoliticalpartyseen" type="xs:string" />
				<xs:element name="Inpersonverificationwiththeapplicant_Yes" type="xs:string" />
				<xs:element name="Inpersonverificationwiththeapplicant_No" type="xs:string" />
				<xs:element name="Inpersonverificationwiththeapplicant_Other" type="xs:string" />
				<xs:element name="Inpersonverificationwiththeapplicant" type="xs:string" />
				<xs:element name="Date_of_Visit" type="xs:string" />
				<xs:element name="Time_of_Visit" type="xs:string" />
				<xs:element name="Matchinnegativelists_Yes" type="xs:string" />
				<xs:element name="Matchinnegativelists_No" type="xs:string" />
				<xs:element name="Reasonsfornotrecommended_Incorrect" type="xs:string" />
				<xs:element name="Reasonsfornotrecommended_doubtful" type="xs:string" />
				<xs:element name="Reasonsfornotrecommended_Bad" type="xs:string" />
				<xs:element name="Reasonsfornotrecommended_Poor" type="xs:string" />
				<xs:element name="Reasonsfornotrecommended_Residence" type="xs:string" />
				<xs:element name="Reasonsfornotrecommended_Politically" type="xs:string" />
				<xs:element name="Trading_Yes" type="xs:string" />
				<xs:element name="Trading_No" type="xs:string" />
				<xs:element name="TradingYears" type="xs:string" />
				<xs:element name="Prod_Equity" type="xs:string" />
				<xs:element name="Prod_FO" type="xs:string" />
				<xs:element name="Prod_Commodities" type="xs:string" />
				<xs:element name="Prod_Currency" type="xs:string" />
				<xs:element name="Noofmembers" type="xs:string" />
				<xs:element name="Verifiername" type="xs:string" />
				<xs:element name="Emp_Code" type="xs:string" />
				<xs:element name="fe_signimage" type="xs:base64Binary" />
				<xs:element name="centre_pamacseal" type="xs:base64Binary" />
				<xs:element name="AppicantBusiness_Yes" type="xs:string" />
				<xs:element name="AppicantBusiness_No" type="xs:string" />
				<xs:element name="AddressProofSighted_Yes" type="xs:string" />
				<xs:element name="AddressProofSighted_No" type="xs:string" />
				<xs:element name="TypeofAddressProof" type="xs:string" />
				<xs:element name="NameofPerson" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Kotak_bank">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="case_id" type="xs:string" />
				<xs:element name="verification_type_id" type="xs:string" />
				<xs:element name="Ref_no" type="xs:string" />
				<xs:element name="RecvDate" type="xs:string" />
				<xs:element name="FullName" type="xs:string" />
				<xs:element name="Name_person_contacted" type="xs:string" />
				<xs:element name="Designation" type="xs:string" />
				<xs:element name="Nature_Business" type="xs:string" />
				<xs:element name="ProductDealingIn" type="xs:string" />
				<xs:element name="TurnOver1" type="xs:string" />
				<xs:element name="No_Years_Current_Employment" type="xs:string" />
				<xs:element name="Resi_Pincode" type="xs:string" />
				<xs:element name="customerexiswhichfloor" type="xs:string" />
				<xs:element name="Sign_Sighted_Remark" type="xs:string" />
				<xs:element name="Nameofindividual" type="xs:string" />
				<xs:element name="Nameofindividualpersonmet" type="xs:string" />
				<xs:element name="DoccumentryProofFurnished" type="xs:string" />
				<xs:element name="fullname" type="xs:string" />
				<xs:element name="Thiredpartyconfirmation_No" type="xs:string" />
				<xs:element name="fe_signimage" type="xs:base64Binary" />
				<xs:element name="centre_pamacseal" type="xs:base64Binary" />
				<xs:element name="FEName" type="xs:string" />
				<xs:element name="email" type="xs:string" />
				<xs:element name="own_rented" type="xs:string" />
				<xs:element name="own_owned" type="xs:string" />
				<xs:element name="own_TIN" type="xs:string" />
				<xs:element name="own_ITR" type="xs:string" />
				<xs:element name="own_PAN" type="xs:string" />
				<xs:element name="Level_Business_Activity" type="xs:string" />
				<xs:element name="off_name" type="xs:string" />
				<xs:element name="Email_ID" type="xs:string" />
				<xs:element name="No_Employees" type="xs:string" />
				<xs:element name="Remark" type="xs:string" />
				<xs:element name="status_positive" type="xs:string" />
				<xs:element name="status_Negative" type="xs:string" />
				<xs:element name="reltionship" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Kyc_Hdfc_Buss">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="VERIFICATION_TYPE_ID" type="xs:string" />
				<xs:element name="branch_name" type="xs:string" />
				<xs:element name="branch_code" type="xs:string" />
				<xs:element name="reason_cpv" type="xs:string" />
				<xs:element name="Off_Name" type="xs:string" />
				<xs:element name="mobile" type="xs:string" />
				<xs:element name="off_pin_code" type="xs:string" />
				<xs:element name="prominent_landmark" type="xs:string" />
				<xs:element name="area_premises" type="xs:string" />
				<xs:element name="name_displayed_board" type="xs:string" />
				<xs:element name="sign_sighted_remark" type="xs:string" />
				<xs:element name="properietor_partener_met" type="xs:string" />
				<xs:element name="Name_person_contacted" type="xs:string" />
				<xs:element name="designation" type="xs:string" />
				<xs:element name="bussiness_tel_no" type="xs:string" />
				<xs:element name="email_id" type="xs:string" />
				<xs:element name="broking_through_other" type="xs:string" />
				<xs:element name="no_years_current_employment" type="xs:string" />
				<xs:element name="Address_Neighbour" type="xs:string" />
				<xs:element name="Neigh_Shop" type="xs:string" />
				<xs:element name="no_employees" type="xs:string" />
				<xs:element name="Buss_Quip_Sight" type="xs:string" />
				<xs:element name="attempt_date_time" type="xs:string" />
				<xs:element name="remark" type="xs:string" />
				<xs:element name="case_id" type="xs:string" />
				<xs:element name="OffAdd" type="xs:string" />
				<xs:element name="business_activity" type="xs:string" />
				<xs:element name="emp_code" type="xs:string" />
				<xs:element name="Cerificate_person_confirm" type="xs:string" />
				<xs:element name="FullName" type="xs:string" />
				<xs:element name="type_org" type="xs:string" />
				<xs:element name="nature_business" type="xs:string" />
				<xs:element name="locality_type" type="xs:string" />
				<xs:element name="locating_address" type="xs:string" />
				<xs:element name="card_no" type="xs:string" />
				<xs:element name="EquipmentSeen_OR_Shift_Arrangement" type="xs:string" />
				<xs:element name="buss_proof_seen" type="xs:string" />
				<xs:element name="Observation_If_NotRecommended" type="xs:string" />
				<xs:element name="fe_signimage" type="xs:base64Binary" />
				<xs:element name="centre_pamacseal" type="xs:base64Binary" />
				<xs:element name="IntDate" type="xs:string" />
				<xs:element name="Ownership_Premises" type="xs:string" />
				<xs:element name="STATUS" type="xs:string" />
				<xs:element name="Act_Yes" type="xs:string" />
				<xs:element name="Act_No" type="xs:string" />
				<xs:element name="Stock_Yes" type="xs:string" />
				<xs:element name="Stock_No" type="xs:string" />
				<xs:element name="Doc_Yes" type="xs:string" />
				<xs:element name="Doc_No" type="xs:string" />
				<xs:element name="Neigh_Yes" type="xs:string" />
				<xs:element name="Neigh_No" type="xs:string" />
				<xs:element name="Autho_Yes" type="xs:string" />
				<xs:element name="Autho_No" type="xs:string" />
				<xs:element name="Neigh_Shop_Yes" type="xs:string" />
				<xs:element name="Neigh_Shop_No" type="xs:string" />
				<xs:element name="Displ_Board_Yes" type="xs:string" />
				<xs:element name="Displ_Board_No" type="xs:string" />
				<xs:element name="off_add_line_1" type="xs:string" />
				<xs:element name="off_add_line_2" type="xs:string" />
				<xs:element name="off_add_line_3" type="xs:string" />
				<xs:element name="ReasonFrCPV" type="xs:string" />
				<xs:element name="state" type="xs:string" />
				<xs:element name="country" type="xs:string" />
				<xs:element name="Act_High" type="xs:string" />
				<xs:element name="Act_Low" type="xs:string" />
				<xs:element name="Displ_Board_NotRecommendedReason" type="xs:string" />
				<xs:element name="Displ_Board_NotRecommended" type="xs:string" />
				<xs:element name="Displ_Board_Recommended" type="xs:string" />
				<xs:element name="positive_obs1" type="xs:string" />
				<xs:element name="negative_obs2" type="xs:string" />
				<xs:element name="negative_obs3" type="xs:string" />
				<xs:element name="sup_name" type="xs:string" />
				<xs:element name="supervisior" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="kotak_mahindra_RV">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="case_rec_datetime" type="xs:string" />
				<xs:element name="Applicant_Name" type="xs:string" />
				<xs:element name="Address" type="xs:string" />
				<xs:element name="address_confimed_Yes" type="xs:string" />
				<xs:element name="address_confimed_No" type="xs:string" />
				<xs:element name="Landmark" type="xs:string" />
				<xs:element name="person_contacted" type="xs:string" />
				<xs:element name="relationship_with_applicant" type="xs:string" />
				<xs:element name="res_phone" type="xs:string" />
				<xs:element name="Staying_since_Resi" type="xs:string" />
				<xs:element name="ownership_Parental" type="xs:string" />
				<xs:element name="ownership_Self_Owned" type="xs:string" />
				<xs:element name="ownership_Rented" type="xs:string" />
				<xs:element name="ownership_Company_acco" type="xs:string" />
				<xs:element name="ownership_Friend_owned" type="xs:string" />
				<xs:element name="ownership_PG" type="xs:string" />
				<xs:element name="ownership_lodging" type="xs:string" />
				<xs:element name="marital_status_Single" type="xs:string" />
				<xs:element name="marital_status_Married" type="xs:string" />
				<xs:element name="family_members" type="xs:string" />
				<xs:element name="working_member" type="xs:string" />
				<xs:element name="total_f_member" type="xs:string" />
				<xs:element name="co_oprative_Polite" type="xs:string" />
				<xs:element name="co_oprative_Rude" type="xs:string" />
				<xs:element name="typeofresidence_Flat" type="xs:string" />
				<xs:element name="typeofresidence_Individual_house" type="xs:string" />
				<xs:element name="typeofresidence_part_independent_house" type="xs:string" />
				<xs:element name="typeofresidence_multi_tenant_house" type="xs:string" />
				<xs:element name="typeofresidence_Bungalow" type="xs:string" />
				<xs:element name="typeofresidence_Row_house" type="xs:string" />
				<xs:element name="typeofresidence_Temporary_shed" type="xs:string" />
				<xs:element name="typeofresidence_Standingchawljantaflat" type="xs:string" />
				<xs:element name="typeofresidence_HutmentSittingChawl" type="xs:string" />
				<xs:element name="Locality_Posh" type="xs:string" />
				<xs:element name="Locality_Upper_Middle_Class" type="xs:string" />
				<xs:element name="Locality_Middle_Class" type="xs:string" />
				<xs:element name="Locality_Lower_Middle_Class" type="xs:string" />
				<xs:element name="Locality_Village_Area" type="xs:string" />
				<xs:element name="Locality_Slums" type="xs:string" />
				<xs:element name="Locality_Other" type="xs:string" />
				<xs:element name="Locating_Address_Easy" type="xs:string" />
				<xs:element name="Locating_Address_Difficult" type="xs:string" />
				<xs:element name="Locating_Address_Untraceable" type="xs:string" />
				<xs:element name="Construction_Pukka" type="xs:string" />
				<xs:element name="Construction_SamiPukka" type="xs:string" />
				<xs:element name="Construction_Temporary" type="xs:string" />
				<xs:element name="Construction_carpark" type="xs:string" />
				<xs:element name="Construction_Garden" type="xs:string" />
				<xs:element name="Construction_Security" type="xs:string" />
				<xs:element name="Construction_BuildingWall" type="xs:string" />
				<xs:element name="EquipInOffice_Elevator" type="xs:string" />
				<xs:element name="EquipInOffice_Fincingwall" type="xs:string" />
				<xs:element name="EquipInOffice_Other" type="xs:string" />
				<xs:element name="area_sq_ft" type="xs:string" />
				<xs:element name="interior_Sofa" type="xs:string" />
				<xs:element name="interior_Clean" type="xs:string" />
				<xs:element name="interior_Painted" type="xs:string" />
				<xs:element name="interior_Carpeted" type="xs:string" />
				<xs:element name="interior_VenetianBlinds" type="xs:string" />
				<xs:element name="interior_Curtains" type="xs:string" />
				<xs:element name="Assets_Ucar" type="xs:string" />
				<xs:element name="Assets_2Wheeler" type="xs:string" />
				<xs:element name="Assets_Ac" type="xs:string" />
				<xs:element name="Assets_TV" type="xs:string" />
				<xs:element name="Assets_Fridge" type="xs:string" />
				<xs:element name="Assets_Cupboard" type="xs:string" />
				<xs:element name="Assets_PC" type="xs:string" />
				<xs:element name="picture" type="xs:string" />
				<xs:element name="other_details" type="xs:string" />
				<xs:element name="Proof" type="xs:string" />
				<xs:element name="entry" type="xs:string" />
				<xs:element name="Verified_Form" type="xs:string" />
				<xs:element name="Confimed_neigh" type="xs:string" />
				<xs:element name="Staying_as_per_neigh" type="xs:string" />
				<xs:element name="verified_remark" type="xs:string" />
				<xs:element name="confied_resi" type="xs:string" />
				<xs:element name="resi_remark" type="xs:string" />
				<xs:element name="sup_remark" type="xs:string" />
				<xs:element name="supervisorname" type="xs:string" />
				<xs:element name="Verifiername" type="xs:string" />
				<xs:element name="fe_signimage" type="xs:base64Binary" />
				<xs:element name="centre_pamacseal" type="xs:base64Binary" />
				<xs:element name="Sup_SignImage" type="xs:base64Binary" />
				<xs:element name="CASE_STATUS_ID_Rtbk" type="xs:string" />
				<xs:element name="p_picture_yes" type="xs:string" />
				<xs:element name="p_picture_no" type="xs:string" />
				<xs:element name="ownership_Relative_owned" type="xs:string" />
				<xs:element name="CASE_STATUS_ID_Recomm" type="xs:string" />
				<xs:element name="CASE_STATUS_ID_NONrecomm" type="xs:string" />
				<xs:element name="fe_signimage1" type="xs:base64Binary" />
				<xs:element name="centre_pamacseal1" type="xs:base64Binary" />
				<xs:element name="Sup_SignImage1" type="xs:base64Binary" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Kotak_mahindra_BV">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REF_NO" type="xs:string" />
				<xs:element name="Applicant_Name" type="xs:string" />
				<xs:element name="Address" type="xs:string" />
				<xs:element name="Tele_Status" type="xs:string" />
				<xs:element name="Designation" type="xs:string" />
				<xs:element name="Person_Contacted" type="xs:string" />
				<xs:element name="No_Years_Current_Employment" type="xs:string" />
				<xs:element name="No_Employees" type="xs:string" />
				<xs:element name="Name_Firm" type="xs:string" />
				<xs:element name="Company_Type" type="xs:string" />
				<xs:element name="Company_Type_PublicLtd" type="xs:string" />
				<xs:element name="Company_Type_Proprietorship" type="xs:string" />
				<xs:element name="Company_Type_Partnership" type="xs:string" />
				<xs:element name="Company_Type_Others" type="xs:string" />
				<xs:element name="Nature_Business_Professional" type="xs:string" />
				<xs:element name="Nature_Business_Manufacturer" type="xs:string" />
				<xs:element name="Nature_Business_Shopkeeper" type="xs:string" />
				<xs:element name="Nature_Business_ServiceProvider" type="xs:string" />
				<xs:element name="Nature_Business_CommAgent" type="xs:string" />
				<xs:element name="Nature_Business_Broker" type="xs:string" />
				<xs:element name="Nature_Business_TutorPersonalCare" type="xs:string" />
				<xs:element name="Nature_Business_LICAgent" type="xs:string" />
				<xs:element name="Nature_Business_STDPCOBooth" type="xs:string" />
				<xs:element name="Nature_Business_Other" type="xs:string" />
				<xs:element name="Ownership_Premises_Owned" type="xs:string" />
				<xs:element name="Ownership_Premises_Rented" type="xs:string" />
				<xs:element name="Ownership_Premises_Pagdi" type="xs:string" />
				<xs:element name="Type_Premise_BsinessCenter" type="xs:string" />
				<xs:element name="Type_Premise_InependentOffice" type="xs:string" />
				<xs:element name="Type_Premise_OfficeComplex" type="xs:string" />
				<xs:element name="Type_Premise_Shop" type="xs:string" />
				<xs:element name="Type_Premise_SharedOffice" type="xs:string" />
				<xs:element name="Type_Premise_Clinic" type="xs:string" />
				<xs:element name="Type_Premise_Industrial" type="xs:string" />
				<xs:element type="xs:string" name="Type_Premise_Residence" />
				<xs:element name="Type_Premise_ChwalArea" type="xs:string" />
				<xs:element name="Type_Premise_Others" type="xs:string" />
				<xs:element name="Locality_Type_BusinessCentre" type="xs:string" />
				<xs:element name="Locality_Type_ShopOfficeComplex" type="xs:string" />
				<xs:element name="Locality_Type_Commercial" type="xs:string" />
				<xs:element name="Locality_Type_SmallScaleIndustryArea" type="xs:string" />
				<xs:element name="Locality_Type_Residential" type="xs:string" />
				<xs:element name="Locality_Type_Industrial" type="xs:string" />
				<xs:element name="Locality_Type_Plant" type="xs:string" />
				<xs:element name="Locality_Type_Other" type="xs:string" />
				<xs:element name="Premise_Location_Easy" type="xs:string" />
				<xs:element name="Premise_Location_Diffcult" type="xs:string" />
				<xs:element name="Premise_Location_Untraceable" type="xs:string" />
				<xs:element name="Level_Business_Activity_High" type="xs:string" />
				<xs:element name="Level_Business_Activity_Medium" type="xs:string" />
				<xs:element name="Level_Business_Activity_Low" type="xs:string" />
				<xs:element name="Buss_Quip_Sight_Stock" type="xs:string" />
				<xs:element name="Buss_Quip_Sight_Printer" type="xs:string" />
				<xs:element name="Buss_Quip_Sight_Fax" type="xs:string" />
				<xs:element name="Buss_Quip_Sight_PC" type="xs:string" />
				<xs:element name="Buss_Quip_Sight_Telepone" type="xs:string" />
				<xs:element name="Buss_Quip_Sight_Xerox" type="xs:string" />
				<xs:element name="Construction_Pukka" type="xs:string" />
				<xs:element name="Construction_SemiPukka" type="xs:string" />
				<xs:element name="Construction_Temporar" type="xs:string" />
				<xs:element name="Confirmationaddress_yes" type="xs:string" />
				<xs:element name="Confirmationaddress_No" type="xs:string" />
				<xs:element name="no_customer_seen" type="xs:string" />
				<xs:element name="no_emp_seen" type="xs:string" />
				<xs:element name="personcontactedmobileNO" type="xs:string" />
				<xs:element name="desig_person_cont" type="xs:string" />
				<xs:element name="month_comp_add" type="xs:string" />
				<xs:element name="anydisplayofpoliticalpartyseen_yes" type="xs:string" />
				<xs:element name="anydisplayofpoliticalpartyseen_No" type="xs:string" />
				<xs:element name="relationship_with_applicant" type="xs:string" />
				<xs:element name="attitude_person_contacted" type="xs:string" />
				<xs:element name="job_tensfer_Yes" type="xs:string" />
				<xs:element name="job_tensfer_No" type="xs:string" />
				<xs:element name="app_name_veriFrom_Collgues" type="xs:string" />
				<xs:element name="app_name_veriFrom_Receptionst" type="xs:string" />
				<xs:element name="app_name_veriFrom_Security" type="xs:string" />
				<xs:element name="app_name_veriFrom_Other" type="xs:string" />
				<xs:element name="job_typePermanent" type="xs:string" />
				<xs:element name="job_typeProbation" type="xs:string" />
				<xs:element name="job_typeTemporaryWorker" type="xs:string" />
				<xs:element name="job_typeContractWorker" type="xs:string" />
				<xs:element name="App_working_asSeniorMiddleManagement" type="xs:string" />
				<xs:element name="App_working_asSupervisor" type="xs:string" />
				<xs:element name="App_working_asJunior" type="xs:string" />
				<xs:element name="App_working_asAssistent" type="xs:string" />
				<xs:element name="App_working_asClerk" type="xs:string" />
				<xs:element name="App_working_asTypist" type="xs:string" />
				<xs:element name="App_working_asStenoghapher" type="xs:string" />
				<xs:element name="App_working_asSkilledLabour" type="xs:string" />
				<xs:element name="App_working_asOther" type="xs:string" />
				<xs:element name="exteriorGood" type="xs:string" />
				<xs:element name="exteriorAverage" type="xs:string" />
				<xs:element name="exteriorPoor" type="xs:string" />
				<xs:element name="interiorPainted" type="xs:string" />
				<xs:element name="interiorCatpeted" type="xs:string" />
				<xs:element name="interiorCurtains" type="xs:string" />
				<xs:element name="interiorClean" type="xs:string" />
				<xs:element name="super_remark" type="xs:string" />
				<xs:element name="business_confired" type="xs:string" />
				<xs:element name="busi_remark" type="xs:string" />
				<xs:element name="Permanent_Pincode" type="xs:string" />
				<xs:element name="TvPerson" type="xs:string" />
				<xs:element name="Remark" type="xs:string" />
				<xs:element name="Verifiername" type="xs:string" />
				<xs:element name="centre_pamacseal" type="xs:base64Binary" />
				<xs:element name="Sup_SignImage" type="xs:base64Binary" />
				<xs:element name="entry_office" type="xs:string" />
				<xs:element name="area_premises" type="xs:string" />
				<xs:element name="no_brunch" type="xs:string" />
				<xs:element name="CASE_STATUS_ID_Recomm" type="xs:string" />
				<xs:element name="CASE_STATUS_ID_NONrecomm" type="xs:string" />
				<xs:element name="CASE_STATUS_ID_Rtbk" type="xs:string" />
				<xs:element name="Company_Type_PvtLtd" type="xs:string" />
				<xs:element name="woking_emp" type="xs:string" />
				<xs:element name="telephone_cp" type="xs:string" />
				<xs:element name="branch" type="xs:string" />
				<xs:element name="Ownership_Premises" type="xs:string" />
				<xs:element name="prominent_landmark" type="xs:string" />
				<xs:element name="Firm_Signboard_Sighted" type="xs:string" />
				<xs:element name="Type_Premise_Smallscaleshed" type="xs:string" />
				<xs:element name="Verifiername1" type="xs:string" />
				<xs:element name="s_providerCommissionAgent" type="xs:string" />
				<xs:element name="s_providerBroker" type="xs:string" />
				<xs:element name="s_providerTutorPersonalCare" type="xs:string" />
				<xs:element name="s_providerLICAgent" type="xs:string" />
				<xs:element name="s_providerSTDPCOBooth" type="xs:string" />
				<xs:element name="s_providerOthers" type="xs:string" />
				<xs:element name="v_date" type="xs:date" />
				<xs:element name="v_time" type="xs:time" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Kyc_Hdfc_Resi">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="verification_type_id" type="xs:string" />
				<xs:element name="branch_name" type="xs:string" />
				<xs:element name="branch_code" type="xs:string" />
				<xs:element name="reason_cpv" type="xs:string" />
				<xs:element name="first_name" type="xs:string" />
				<xs:element name="res_add_line_1" type="xs:string" />
				<xs:element name="mobile" type="xs:string" />
				<xs:element name="resi_pincode" type="xs:string" />
				<xs:element name="resi_landmark" type="xs:string" />
				<xs:element name="area_residence" type="xs:string" />
				<xs:element name="name_displayed_board" type="xs:string" />
				<xs:element name="name_plate_of_app_sighted" type="xs:string" />
				<xs:element name="other_institution_demat_account" type="xs:string" />
				<xs:element name="name_of_dp" type="xs:string" />
				<xs:element name="person_contacted" type="xs:string" />
				<xs:element name="relationship_with_applicant" type="xs:string" />
				<xs:element name="resi_tel_no" type="xs:string" />
				<xs:element name="res_phone" type="xs:string" />
				<xs:element name="email_id" type="xs:string" />
				<xs:element name="business_activity_seen" type="xs:string" />
				<xs:element name="staying_since_resi" type="xs:string" />
				<xs:element name="general_comments" type="xs:string" />
				<xs:element name="attempt_date_time" type="xs:string" />
				<xs:element name="remark" type="xs:string" />
				<xs:element name="Case_id" type="xs:string" />
				<xs:element name="ResiAdd" type="xs:string" />
				<xs:element name="Person_issued_Cerificate_spoken" type="xs:string" />
				<xs:element name="emp_code" type="xs:string" />
				<xs:element name="FullName" type="xs:string" />
				<xs:element name="Locality" type="xs:string" />
				<xs:element name="Name_Company" type="xs:string" />
				<xs:element name="Address_Neighbour" type="xs:string" />
				<xs:element name="type_org" type="xs:string" />
				<xs:element name="nature_business" type="xs:string" />
				<xs:element name="locality_type" type="xs:string" />
				<xs:element name="locating_address" type="xs:string" />
				<xs:element name="card_no" type="xs:string" />
				<xs:element name="EquipmentSeen_OR_Shift_Arrangement" type="xs:string" />
				<xs:element name="buss_proof_seen" type="xs:string" />
				<xs:element name="Observation_If_NotRecommended" type="xs:string" />
				<xs:element name="fe_signimage" type="xs:base64Binary" />
				<xs:element name="Comments_Neighbour" type="xs:string" />
				<xs:element name="centre_pamacseal" type="xs:base64Binary" />
				<xs:element name="occupation" type="xs:string" />
				<xs:element name="Comments_Neighbour_yes" type="xs:string" />
				<xs:element name="Comments_Neighbour_No" type="xs:string" />
				<xs:element name="res_add_line_2" type="xs:string" />
				<xs:element name="No_x0020_of_x0020_years_x0020_in_x0020_present_x0020_occupation" type="xs:string" />
				<xs:element name="Occupation_x0020_Details" type="xs:string" />
				<xs:element name="Occupation1" type="xs:string" />
				<xs:element name="state" type="xs:string" />
				<xs:element name="Country" type="xs:string" />
				<xs:element name="ReasonFrCPV" type="xs:string" />
				<xs:element name="positive_obs1" type="xs:string" />
				<xs:element name="negative_obs2" type="xs:string" />
				<xs:element name="sup_name" type="xs:string" />
				<xs:element name="Refer_obs3" type="xs:string" />
				<xs:element name="Any_other_info" type="xs:string" />
				<xs:element name="Occuption" type="xs:string" />
				<xs:element name="Person_Met" type="xs:string" />
				<xs:element name="visit_reason" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>